.sideBar_Wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  background: white;
  right: 0;
  height: 100%;
  padding: 20px;
  left: 0;
  max-width: 27%;
  border: 1px solid rgb(173, 169, 169);
  z-index: 99;
  animation: slideRight 0.2s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar_Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  left: 0;
  z-index: 99;
  cursor: pointer;
}

.cursor_Pointer {
  cursor: pointer;
  height: 27px;
  width: 27px;
}

.title_Inline {
  display: flex;
  margin-bottom: 20px;
  p {
    flex-basis: 10%;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    flex-basis: 90%;
    text-align: centers;
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }
}

.dropdowm_Label {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(173, 169, 169);
  color: rgb(173, 169, 169);
  font-size: 18px;
  cursor: pointer;

  svg {
    transition: 0.5s;
  }

  .rotate_Icon {
    transform: rotate(180deg);
  }
}

.list {
  padding-left: 0;
  margin: 0;
  li {
    padding: 8px 30px;
    font-weight: 500;
    list-style: none;

    a {
      color: rgb(173, 169, 169);
      text-decoration: none;
    }
  }
}

@media (max-width: 680px) {
  .sideBar_Wrapper {
    max-width: 70%;
    border: none;
  }
}
